/* font imports for header */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&family=Staatliches&display=swap');

* {
    margin: 0;
}

body {
    background-color: rgb(6, 6, 48);
    color:white;
    overflow-x:hidden;
}
body::-webkit-scrollbar{
    height:10px;
}
body::-webkit-scrollbar-thumb {
    background: white;
}

header {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;
    align-items: end;
    justify-content: space-between;

    color: rgb(255, 187, 219);
    font-size: 1.5em;
    
    width: 96%;
    border-bottom: 3px rgb(92, 92, 92) solid;
    margin: 0 2% 0 2%;
    padding: 2% 0 2% 0;
}
header img {
    width:100%;
}
header h1 {
    margin: 0;
    font-size: 2em;
    font-family: 'Staatliches', cursive;
    letter-spacing: .5rem;
}
header h2 {
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

main {
    margin: 5% 4% 0 4%;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    display: grid;
    grid-template-rows: auto;
}
main div {
    margin: 4% 0 4% 0;
}
main h2,h3 {
    font-family:'Staatliches', cursive;
    letter-spacing: .2rem;
    margin: 2%; 
}
main p {
    margin: 2%;
}

section {
    margin: 6% 0 6% 0;
}

figure {
    width:96%;
    margin: 2%;
    
}
figure img {
    width:100%;
}
figcaption {
    font-size: 1rem; 
    padding: 0 5% 0 5% ;
    text-align: justify;
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;;
    font-size: .8em;
}


/* inspired by "CSS-only-carousel" on css-tricks.com */
.gallery {
    width: 80vw;
    margin: 10% 0 0 0;
    padding: 5% 10vw;
    background: linear-gradient(to bottom, rgb(6, 6, 48), 40%,  black);
}
.gallery h2 {
    margin-bottom: 5%;
    text-align: center;
    font-family:'Staatliches', cursive;
    letter-spacing: .4rem;
    font-size: 1.5em;
    font-weight: lighter;
}
.gallery h3 {
    display: none;
    text-align: center;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    font-size:.6em;
    letter-spacing: .1em;
}
.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.slides > figure {
    scroll-snap-align: center;
    flex-shrink: 0;
    width: 100%;
    margin-right: 50px;
    position: relative;
    overflow-y:hidden;
}
.slides::-webkit-scrollbar{
    height:10px;
}
.slides::-webkit-scrollbar-thumb {
    background: white;
}

.slides figcaption {
    text-align: center;
    padding:1% 2%;
    font-size:.6em;

    /* display: none; */
    z-index: 1;
    position: absolute;
    height: fit-content;
    width:96%;
    top: 82%;
    background-color: rgba(0,0,0,.6);
}


@media (min-width: 750px) {
    body {
        font-size: 1.2em;
    }
    header {
        font-size: 1.2rem;
        display: flex;
        flex-direction: row-reverse;
    }
    header img {
        width: 40%;
    }
    main figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
        justify-content: space-evenly;
        align-items: center;
    }

    figcaption {
        font-size:1em;
    }

    #megaboat {
        grid-template-columns: 1fr 2fr;
    }
    #megaboat img {
        grid-area: 1 / 2 / 2 / 3;
    }
    #megaboat figcaption {
        grid-area: 1 / 1 / 2 / 2;
    }

    #birthday {
        grid-template-columns: 1fr 2fr;
    }
    #birthday img {
        grid-area: 1 / 2 / 2 / 3;
    }
    #birthday figcaption {
        grid-area: 1 / 1 / 2 / 2;
    }

    #laundry {
        grid-template-columns: 1fr 2fr;
    }
    #laundry img {
        grid-area: 1 / 2 / 2 / 3;
    }
    #laundry figcaption {
        grid-area: 1 / 1 / 2 / 2;
    }
}

@media (min-width: 900px) {
    header {
        font-size: 1.5em;
    }

    .gallery {
        width: 60vw;
        padding: 5% 20vw;
    }
    .gallery h2 {
        font-size: 3em;
        margin:0;
    }
    .gallery h3 {
        display:block;
        font-size: .8em;
    }
    .slides figcaption{
        opacity:0;
        transition: opacity .2s ease-out;
    }
    .slides figure:hover figcaption {
        opacity: 1;
    }
}


@media (min-width: 1150px) {
    header {
        font-size: 1.8em;
    }

    main {
        font-size: .8em;
    }
    main h2 {
        grid-area: 1 / 1 / 2 / end;
        margin: 1% 1% 4% 1%;
    }
    main p, h3 {
        margin: 0 4% 0 4%;
        text-align: justify;
    }

    .gallery {
        width: 50vw;
        padding: 5% 25vw;
    }
    .slides figcaption {
        font-size: 1em;
    }

    main figure {
        display:block;
        width: 100%;
        height:100%;
        margin: 0;
    }
    #fall-1 {
        display: grid;
        grid-template-columns: repeat(7, minmax(0,1fr));
        grid-template-rows: repeat(7, minmax(0,1fr));
        row-gap: 2%;
    }
    #fall-1 section {
        margin-top: 0;
    }
    #fall-1-1 {
        grid-area: 1 / 1 / 4 / 4;
    }
    #rock {
        grid-area: 1 / 4 / 5 / end;
    }
    #rock img {
        box-shadow: -5px 5px 6px black;
    }
    #rock figcaption {
        padding-left:30%;
    }
    #fall-1-2 {
        grid-area: 5 / 5 / 8 / end;
    }
    #megaboat {
        z-index: -1;
        grid-area: 4 / 1 / 8 / 5; 
    }
    #megaboat figcaption {
        padding: 0 30% 0 0;
    }


    #fall-2 {
        display: grid;
        grid-template-columns: repeat(7, minmax(0,1fr));
        grid-template-rows: repeat(7, minmax(0,1fr));
    }
    #fall-2 h3 {
        text-align: end;
    }
    #fall-2-1 {
        grid-area: 1 / 5 / 4 / end;
    }
    #frogs {
        grid-area: 1 / 1 / 5 / 5;
    }
    #frogs img {
        box-shadow: 5px 5px 6px black;
    }
    #frogs figcaption {
        padding: 0 30% 0 0;
    }
    #fall-2-2 {
        grid-area: 5 / 1 / 9 / 4;
    }
    #birthday {
        z-index: -1;
        grid-area:  4 / 4 / 8 / end;
    }
    #birthday figcaption {
        text-align: end;
        padding: 0 0 0 30%;
    }


    #spring {
        display: grid;
        grid-template-columns: repeat(7, minmax(0,1fr));
        grid-template-rows: repeat(7, minmax(0,1fr));
    }
    #spring-1 {
        grid-area: 1 / 1 / 4 / 4;
    }
    #idkhow {
        grid-area: 1 / 4 / 5 / end;
    }
    #idkhow img {
        box-shadow: -5px 5px 6px black;
    }
    #idkhow figcaption {
        padding-left:30%;
    }
    #spring-2 {
        grid-area: 5 / 5 / 8 / end;
    }
    #laundry {
        z-index: -1;
        grid-area: 4 / 1 / 8 / 5; 
    }
    #laundry figcaption {
        padding: 0 30% 0 0;
    }
}

@media (min-width: 1400px) {
    main {
        font-size: 1em;
    }
}